
ForFunAPI/.vs/ForFunAPI/DesignTimeBuild/.dtbcache.v2
ForFunAPI/.vs/ForFunAPI/DesignTimeBuild/.dtbcache.v2
ForFunAPI/ForFunAPI/obj/project.nuget.cache
ForFunAPI/ForFunAPI/obj/project.assets.json
ForFunAPI/ForFunAPI/obj/ForFunAPI.csproj.nuget.g.targets
ForFunAPI/ForFunAPI/obj/ForFunAPI.csproj.nuget.g.props
ForFunAPI/ForFunAPI/obj/ForFunAPI.csproj.nuget.dgspec.json
ForFunAPI/ForFunAPI/obj/Debug/net5.0/ForFunAPI.GeneratedMSBuildEditorConfig.editorconfig
ForFunAPI/ForFunAPI/obj/Debug/net5.0/ForFunAPI.csproj.AssemblyReference.cache
ForFunAPI/ForFunAPI/obj/Debug/net5.0/ForFunAPI.assets.cache
ForFunAPI/.vs/ProjectEvaluation/forfunapi.projects.v2
ForFunAPI/.vs/ProjectEvaluation/forfunapi.metadata.v2
ForFunAPI/.vs/ForFunAPI/v17/.futdcache.v1
ForFunAPI/.vs/ForFunAPI/v17/.suo
ForFunAPI/.vs/ForFunAPI/FileContentIndex/1677876b-a7fa-4a12-b8b1-dc0b8b37a888.vsidx
ForFunAPI/.vs/ForFunAPI/FileContentIndex/read.lock
