<div class="modal-header">
	<h5 class="modal-title" id="exampleModalLabel">Login</h5>
	<button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
	<p>Nhập pass tui nói rồi đó 😉😉😉</p>
	<input class="form-control" type="text" mdbInput #pass id="password" placeholder="Nhập pass nè">
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" (click)="login(pass.value)">Login</button>
	<button type="button" class="btn btn-warning" (click)="modalRef.close()">
		Close
	</button>
</div>